@model List<Comment>
<div class="pt-5 comment-wrap">
    <h3 class="mb-5 heading">@Model.Count Yorum</h3>
    <ul class="comment-list">
        @foreach(var item in Model)
        {
            <li class="comment">
                <div class="vcard">
                    
                </div>
                <div class="comment-body">
                    <h3>@item.NamSurname</h3>
                    <div class="meta">@item.CommentDate</div>
                    <p>@item.Content</p>
                    <p><a href="#" class="reply rounded">Cevapla</a></p>
                </div>
            </li>
        }
       

        
    </ul>
    <!-- END comment-list -->
    @await Component.InvokeAsync("_BlogDetailLeaveACommentComponentPartial", new { id = ViewBag.i })
    
</div>

