<div class="sidebar-box">
    <h3 class="heading">Etiketler</h3>
    <ul class="tags">
        <li><a href="#">Seyahat</a></li>
        <li><a href="#">Macera</a></li>
        <li><a href="#">Yiyecek</a></li>
        <li><a href="#">Yaşam tarzı</a></li>
        <li><a href="#">İşletme</a></li>
        <li><a href="#">Serbest çalışma</a></li>
    </ul>
</div>